<mat-card>
  <mat-grid-list cols="2" rowHeight="100px" gutterSize="0">
    <mat-grid-tile [colspan]="2" [rowspan]="3">
        <div class="background">
          <div class="infoBox">
            <h1>The Essential Strategies</h1>

            <p>The best tutor is not the tutor you see every week.</p>
            <p>The best tutor is the last tutor you will ever need to see.</p>
          </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <div class="bleedBox"></div>
      <div class="contentBox">
        <p>The First step to taking your education into your own hands begins with knowing where to look.</p>
        <button mat-raised-button class="learnMore">Learn More</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4">
      Video
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4">
      asdf
    </mat-grid-tile>
  </mat-grid-list>
  <!--
  <div class="textWrapper" layout="row">
    <div flex>

    </div>
    <div class="selfPortrait">

    </div>
  -->
</mat-card>
