iframe {
  width: 100%;
  height: 600px;
}

.mat-card {
  height: 100%;
}

button.max {
  width: 95%;
}

.mat-grid-list {

  margin-top: 15px;
  margin-bottom: 15px;
  
  .mat-form-field {
    width: 100%;
    height: 100%;
    padding: 5px 10px 5px 10px;
    
  }
}