<mat-card>
  <h1>Policies:</h1>
  <p>The meeting location must not exceed 20 minutes in transit time from the corner of North Federal Blvd and West 92nd Ave.</p>
  <p>However, any additional time in transit will be charged at my standard tutoring rates.</p>
  <p>Students must be of middle school age or older.</p>
  <p>A minimum session duration of one hour is required.</p>
  <p>Lessons must be scheduled at least 24 hours in advance.</p>
  <p>Payment is expected immediately following the lesson.</p>
  <p>Please contact me for a consultation prior to scheduling your first lesson. It is free of charge and will make the process smoother for both parties.</p>
  <p>If you’re seeking help for a specialty topic, please mention that in the consultation. For instance, I lack the expertise in Business Calculus that I have in standard Calculus.</p>
  <p>Students should provide as much as information they can about their status in the class to aid in monitoring their progress. This includes syllabi, class outlines, homework lists, performance in previous courses, and homework/test scores throughout the semester.</p>
  <p>Online sessions will require video/audio equipment to use with Skype and an online collaboration platform.</p>
  <hr>
  <h1>Rates:</h1>
  <p>My rates are as follows:</p>
  <p>In-Person: $40 per hour</p>
  <p>Online: $30 per hour</p>
</mat-card>