<mat-card>
  <h1>Policies:</h1>
  <p>For in-person tutoring, the meeting location must not exceed 30 minutes in transit time from the corner of North Federal Blvd and West 92nd Ave. Any additional time in transit will be charged at my standard tutoring rates.</p>
  <p>A minimum session duration of one hour is required.</p>
  <p>Lessons must be scheduled at least the day prior.</p>
  <p>Payment is required via secure transfer through the Venmo application. Cash is acceptable for in-person tutoring.</p>
  <p>Please contact me for a consultation prior to scheduling your first lesson. It is free of charge and will make the process smoother for both parties.</p>
  <p>If you’re seeking help for a specialty topic, please mention that in the consultation. For instance, I may lack the expertise in Business Calculus that I have in standard Calculus.</p>
  <p>Students should provide as much as information they can about their status in the class to aid in monitoring their progress. This includes syllabi, class outlines, homework lists, performance in previous courses, and homework/test scores throughout the semester.</p>
  <p>Online sessions will require webcam and microphone to use with Skype and an online whiteboard.</p>
  <hr>
  <h1>Rates:</h1>
  <p>My rates are as follows:</p>
  <p>In-Person: $40 per hour</p>
  <p>Online: $30 per hour</p>
</mat-card>
