<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content height="300px">
    <form [formGroup]="login.login" (ngSubmit)="submit()">
      <mat-form-field>
        <input matInput tabindex="1" placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="login.email().invalid">{{error(login.email())}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput tabIndex="2" placeholder="Password" formControlName="password" required>
        <mat-error *ngIf="login.password().invalid">{{error(login.password())}}</mat-error>
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-button [disabled]="login.invalid" type="submit" tabindex="-1">Login</button>
        <button mat-button [disabled]="login.invalid" (click)="onNoClick()">Close</button>
      </div>
    </form>
</div>
